body{
    background-color: black;
}

.container-fluid {
    background-color: dodgerblue;
    height: 5rem;
}

.row {
    background-color: white;
    height: 4.7rem;
}

[class*="col-"] {
    background-color: aquamarine;
    height: 4.2rem;
    border: 2px solid rgba(0,0,0,0.3);
}